/* RESET & FONT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    transition: background 0.3s, color 0.3s;
}

main {
    padding: 24px;
}

a {
    text-decoration-line: none;
    color: inherit;
}

/* LIGHT / DARK THEMES */
body.light-theme {
    background: #f2f2f2;
    color: #111;
}

body.dark-theme {
    background: #202c37;
    color: #fff;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 1.5rem;
}

header button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.countries-container {
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 16px;
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.country-card {
    display: inline-block;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 24px;
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.country-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 24px;
    margin-block: 16px;
}

.card-text {
    padding-inline: 16px;
}

.card-text p {
    margin-block: 8px;
}

.country-card img {
    width: 100%;
}

@media(max-width: 768px) {
    .countries-container {
        justify-content: center;
    }

}
